:root {
    --dropdown-width: 150px;
    --dropdown-options-width: 143px;
    --font-size: 1.45rem;
}

.dropdown {
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
}

.dropdown > .options {
    display: none;
}

.dropdown-button {
    font-size: var(--font-size);
    width: var(--dropdown-width);
}

.open > .options {
    display: flex;
    flex-direction: column;
}

.option {
    border: solid;
    width: var(--dropdown-options-width);
    text-align: center;
}